*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Amiri', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.page_content{
  position: absolute;
  top: 8vh;
}